<div id="delivery_date">
  <%= form.label :delivery_date, t(:delivery_date) %>
  <%= form.text_field :delivery_date, :value => datepicker_field_value(@order.delivery_date), :class => 'datepicker', :data => {:days_to_be_ready => @order.days_to_be_ready} %>
</div>