<dt><%= t(:delivery_date_short) %>:</dt>
<% if @order.delivery_date != nil %>
  <dd id='delivery_date'><%= l @order.delivery_date.to_date %></dd>
<% else %>
  <dd id='delivery_date'>Desconocida</dd>
<% end %>